.cardsContainer {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 2rem;

  .cardsContent {
    margin-top: 5rem;
    margin-bottom: 5rem;
    max-width: 1080px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
