.buttonLoadMore {
  width: 26.25rem;
  height: 2.5rem;

  background: transparent;

  border: 1px solid var(--green-lime);
  border-radius: 0.5rem;

  font-size: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.2s;

  .iconDown {
    margin-left: 1rem;
  }
}

.buttonLoadMore:hover {
  background-color: var(--green-lime);
  font-weight: bold;
}
